@import "../../../../../assets/styles/colours";

.home {
  background-color: $slate1-light;
}

.navbar {
  background-color: $slate1-light;
}

.nav-item {
  font-family: Poppins, sans-serif;
}

.main-home-area {
  height: 100%;
  background: $slate1-light;
  margin-top: 75px;
  margin-bottom: 150px;
}

.hero-left {
  padding: 0px 75px 50px 75px;
}

.hero-right {

}

.hero-carousel {
  //height: calc( 100vh - 162.5px );
}

.hero-carousel-control{
  color: $slate12-light !important;
}

.banner-text-emphasis {
  font-family: Quicksand-SemiBold, sans-serif;
  color: $lime12-light;
}
