@import "../../../../../assets/styles/colours.scss";

.summary-item {
  padding-left: 10px;
}

.summary-img {
  min-width: 100px;
}

.element {
  display: inline-block;
}

.summary-heading{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $slate8-light;
}

.summary-detail {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: $slate12-light;
}
