@import "../styles/colours";

// mixin that enables css variables in dark mode
@mixin darken() {
  --sideNavBg: #{$slate6-dark};
  --bgColor: #{$slate5-dark};
  --textColor: #{$slate12-dark};
  --borderColor: #{$slate12-dark};
}
