@import "../styles/colours";

// mixin that enables css variables in dark mode
@mixin lighten() {
  --sideNavBg: #{$slate1-light};
  --bgColor: #{$slate1-light};
  --textColor: #{$slate10-light};
  --borderColor: #{$slate1-light};
}
