@import "assets/styles/colours";
@import "assets/theme/light-theme";
@import "assets/theme/dark-theme";
@import "assets/styles/bootstrap-styles";
@import "assets/styles/media-queries";

//  Dark and Light Mode
body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

//  HEADINGS
h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand-Bold, sans-serif;
}

p {
  font-family: Poppins, sans-serif;
}

.ant-btn {
  //font-family: Quicksand-SemiBold, sans-serif;
  font-family: "Poppins", sans-serif;
}

//  HERO SECTION
.hero-heading {
  font-size: 50px;
  color: $lime9-light;
}

.hero-paragraph {
  font-size: 24px;
  color: $slate9-light;
  padding-bottom: 25px;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $slate9-light;
}

.carousel-indicators .active {
  background-color: $lime6-light !important;
}

.carousel-indicators {
  bottom: -40px;
}

.bg {
  background-color: var(--bg-colour);
  transition-duration: 0.8s;
}

.buttonColour {
  background-color: var(--buttonColour);
}

/*
  AUTHENTICATION PAGE
 */
.auth-container {
  height: 100vh;
  max-width: 100vw;
  background-color: $slate1-light;
  //overflow-x: hidden;
}

.auth-element {
  height: 100vh;
  padding: 0px 20px;
}

.auth-heading {
  font-family: Quicksand-SemiBold, sans-serif;
}

.auth-paragraph {
  font-family: Poppins, sans-serif;
  color: $slate8-light;
}

.auth-button {
  width: 100%;
}

/*
  BOOTSTRAP STYLES
*/

//  NAVBAR
.navbar-brand {
  color: #{$lime9-light};
  font-family: Quicksand-Bold, sans-serif;
  font-size: 32px;
}

//  CAROUSEL
.carousel-image {
  max-height: 600px;
}

/*
  APPLICATION STYLES
*/

.app-container{
  position: relative;
  max-height: 100vh;
  min-height: 100vh;
}

/* Application Layout Formatting */
.ant-layout {
  min-height: 100vh;
  max-height: 100vh;
  background: var(--bgColor);
}

.inner-content {
  max-height: calc( 100vh - 118px );
  min-height: calc( 100vh - 118px );
  overflow:auto;
  overflow-x: hidden;
  /*padding: 50px 30px;*/
}

.ant-layout-sider {
  background: var(--sideNavBg);
  border-radius: 30px;
  margin: 30px;
  /*margin-top: 60px;*/
  /*margin-bottom: 60px;*/
}

.ant-layout-sider-trigger {
  border-radius: 0px 0px 50px 0px;
  background: transparent;
  color: $lime9-light;
}

.side-bar-logo {
  padding: 50px 25px 25px 25px;
}

.logo-nav {
  max-width: 125px;
}

.logo-nav-sm {
  max-width: 40px;
}

nz-sider {
  /*border-radius: 0px 50px 50px 0px;*/
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  transition-duration: 5s;
  /* So side-nav is on top of the top nav bar */
  position: relative;
  z-index: 2000;
}

.desktop-sider {
  position: absolute;
  right: -8px;
  top: 40vh;
  background-color: var(--sideNavBg);
  transition-duration: 0.5s;
  border-radius: 50%;
  width: 50px;
  color: var(--textColor);
  height: 50px;
}

.desktop-sider:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: transparent;
  color: var(--textColor);
  max-height: calc(100vh - 400px );
  overflow: auto;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: var(--textColor);
  font-size: 14px;
}

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: var(--primary-dark);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: $lime9-light;
  background-color: transparent;
  font-weight: 500;
}

.ant-menu-item-selected > span {
  color: var(--secondary) !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon {
  color: var(--primary-dark);
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span, .ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: var(--primary-dark);
  font-weight: 500;
}

.ant-menu-item-selected:after {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  width: 10px;
  height: 100%;
  background: $lime9-light;
  border-radius: 0px 20px 20px 0px;
  transition: all .25s ease;
  z-index: 60;
}

/* Nav Arrow */
.ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before {
  background: $lime9-light;
}

.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
  background: $lime9-light;
}


.bg-sky-violet {
  background: var(--sky);
  background: linear-gradient(160deg, $lime9-light 0%,$yellow9-light 100%);
  padding: 20px;
  color: $lime11-light;
  font-size: 25px;
  font-family: Quicksand, sans-serif;
  text-align: center;
}

.skew-left {
  -webkit-transform: skew(0deg,-2.5deg);
  transform: skew(0deg,-2.5deg);
}
